<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="{% url 'data-form' %}" method="post">-->
<!--    {% csrf_token %}-->
<!--    Name<input type="text" name="name">-->
<!--    Surname<input type="text" name="surname">-->
<!--    Age<input type="number" name="age">-->
<!--    Company<input type="text" name="company">-->
<!--    Salary<input type="number" name="salary">-->
<!--    <button type="submit">submit</button>-->
<!--</form>-->
<form action="{% url 'data-form' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">submit</button>

</form>
</body>
</html>